Repository v1rbox/discox, pull requests merged in 2023-01, with the labels that each got.

#35 Bug fixes and help sys
  bot/__main__.py
  bot/base.py
  bot/category.py
  bot/commands/leet_code_problem.py
  bot/commands/tic_tac_toe.py
  bot/commands/utility/help.py
  bot/config.py
  bot/events/reaction_add.py
  bot/manager.py
Labels: Pending Merge

#31 Add another command called `request_close`, update the `request_book` to make it better
  bot/assets/main.db
  bot/category.py
  bot/commands/mod/request_close.py
  bot/commands/request/request.py
  bot/commands/request/request_book.py
  bot/config.py
Labels: Pending Merge

#39 Add contributors & authors list on the README.md
  README.md
  bot/commands/request/request.py
Labels: Sucessfully Merged

#41 Checks if role exists ignoring capitalization for removing roles
  bot/commands/distroroles/remove.py
Labels: Not Reviewed

#44 [command]Added feature to remove role from server when empty
  bot/commands/coderoles/add.py
  bot/commands/coderoles/remove.py
  bot/commands/distroroles/leaderboard.py
  bot/commands/distroroles/remove.py
Labels: Pending Changes

#50 Updated leveling, tasks and youtube intergration
  bot/__main__.py
  bot/assets/font.ttf
  bot/assets/main.db
  bot/assets/tmp/image.png
  bot/base.py
  bot/category.py
  bot/commands/levels/leaderboard.py
  bot/commands/levels/rank.py
  bot/commands/levels/setrank.py
  bot/commands/utility/embeds.py
  bot/config.py
  bot/events/on_message.py
  bot/manager.py
  bot/tasks/youtube.py
Labels: Not Reviewed

#49 Change pip to poetry, Makefile for interacting with poetry easier, use dotenv instead of putting it in `bot/config.py` and changing typos in `bot/__main__.py`
  .env.example
  .github/workflows/code_formatting.yml
  .gitignore
  Makefile
  README.md
  bot/__main__.py
  bot/base.py
  bot/category.py
  bot/commands/binary.py
  bot/commands/calc.py
  bot/commands/changePresence/activity.py
  bot/commands/changePresence/status.py
  bot/commands/coderoles/add.py
  bot/commands/coderoles/leaderboard.py
  bot/commands/coderoles/remove.py
  bot/commands/coderoles/roles.py
  bot/commands/coderoles/whitelist.py
  bot/commands/distroroles/add.py
  bot/commands/distroroles/leaderboard.py
  bot/commands/distroroles/remove.py
  bot/commands/distroroles/roles.py
  bot/commands/distroroles/whitelist.py
  bot/commands/games/tic_tac_toe.py
  bot/commands/leet_code_problem.py
  bot/commands/levels/leaderboard.py
  bot/commands/levels/rank.py
  bot/commands/levels/setrank.py
  bot/commands/mod/request_close.py
  bot/commands/request/request.py
  bot/commands/request/request_book.py
  bot/commands/tic_tac_toe.py
  bot/commands/utility/embeds.py
  bot/commands/utility/help.py
  bot/commands/utility/member_count.py
  bot/commands/utility/ping.py
  bot/commands/utility/remind.py
  bot/config.py
  bot/events/on_message.py
  bot/events/reaction_add.py
  bot/logger.py
  bot/manager.py
  bot/tasks/youtube.py
  poetry.lock
  pyproject.toml
Labels: Not Reviewed, Pending Changes

#56 Update the `v!req request` command
  bot/commands/request/request.py
  requirements.txt
Labels: Not Reviewed

#58 Minor issue fix
  .gitignore
  bot/__main__.py
  bot/base.py
  bot/category.py
  bot/tasks/youtube.py
  poetry.lock
  pyproject.toml
Labels: Not Reviewed

#67 Update database managenet system
  .github/pull_request_template.md
  bot/__main__.py
  bot/assets/main.db
  bot/base.py
  bot/commands/levels/leaderboard.py
  bot/commands/levels/rank.py
  bot/commands/levels/setrank.py
  bot/commands/request/request.py
  bot/commands/request/request_book.py
  bot/events/on_message.py
  bot/manager.py
  bot/sql.py
Labels: Sucessfully Merged

#68 Update the request eco-commands and fix the youtube task
  bot/category.py
  bot/commands/mod/request_close.py
  bot/commands/request/request.py
  bot/commands/request/request_book.py
  bot/tasks/youtube.py
Labels: Sucessfully Merged

#84 add `colorthief` module
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: Not Reviewed

#54 Fix and improve level commands, refactor some commands and ability to add and remove modules and synchronize with requirements.txt with makefile
  Makefile
  README.md
  bot/__main__.py
  bot/assets/main.db
  bot/assets/tmp/image.png
  bot/commands/distroroles/info.py
  bot/commands/leet_code_problem.py
  bot/commands/levels/__assets/card.png
  bot/commands/levels/__assets/dnd.png
  bot/commands/levels/__assets/font.ttf
  bot/commands/levels/__assets/idle.png
  bot/commands/levels/__assets/offline.png
  bot/commands/levels/__assets/online.png
  bot/commands/levels/__assets/streaming.png
  bot/commands/levels/__box_generator.py
  bot/commands/levels/__level_generator.py
  bot/commands/levels/__uis.py
  bot/commands/levels/rank.py
  bot/commands/levels/resetbg.py
  bot/commands/levels/resetfontcolor.py
  bot/commands/levels/setbg.py
  bot/commands/levels/setfontcolor.py
  bot/commands/levels/setrank.py
  bot/tasks/youtube.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: Not Reviewed
